doctype html
html(class="no-js" lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Sic Inc
    link(href="https://file.myfontastic.com/imM392osA8XPD5ZF8DLqaf/icons.css" rel="stylesheet")
    link(rel="stylesheet" href="css/app.css")
  body
    section
      .wrapper
        .row
          .large-12.columns
              h1 Sic Inc
              h3 consult@sicinc.co
    script(src="bower_components/jquery/dist/jquery.js")
    script(src="bower_components/what-input/what-input.js")
    script(src="bower_components/foundation-sites/dist/foundation.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.ui.min.js")
    script(src="js/min/app-min.js")
